{{!< layout}}


<section>
    <form action="/artist-search" method="GET">
        <input type="text" name="artist" placeholder="Insert artist name here" required>
        <button type="submit">Search artist</button>
    </form>
</section>
